{# Copyright 2014 BaseKit Platform Ltd #}
{% extends "layout.twig" %}
{% block class %}bk-pt-blog{% endblock %}
{% block content %}

    <!-- Container -->
    <div class="container">

        <!-- Header Include -->
        {% include "includes/header.twig" %}

        <div class="page-content">

            <div class="bk-pt-blog__search">
                {{widget('blogsearch', 'blogsearch', {})|raw}}
            </div>

            <div class="bk-pt-blog__postslist">
                {{zone('main')|raw}}
            </div>

        </div>

            <!-- Footer Include -->
            {% include "includes/footer.twig" %}

    </div>

{% endblock %}



