{# Copyright 2014 BaseKit Platform Ltd #}
{% extends "layout.twig" %}
{% block class %}bk-pt-store{% endblock %}
{% block content %}

    <!-- Container -->

    <div class="container">

        <!-- Header Include -->
        {% include "includes/header.twig" %}

        <div class="page-content">

            <div class="bk-pt-store__productslist">
                {{widget('ecomproductslist', 'productlist', {})|raw}}
            </div>

            <!-- Main Widget Zone -->
            {{zone('main')|raw}}

        </div>

            <!-- Footer Include -->
            {% include "includes/footer.twig" %}

    </div>

{% endblock %}


