<div class="template-footer">

    <div class="template-footer__column1 col1">
        {{widget('profile', 'socialicons', {'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>

    <div class="template-footer__column2 col2">
        {{widget('profile', 'email', {'profileType':'email', 'email':'profile'})|raw}}
    </div>

</div>
